<div class="homeContainer" *ngIf="canRender">
  <app-header></app-header>
  <div class="view-container">
    <div class="header">
      <div class="section">
        <div class="dropdown">
        <h4 class="white">Home <i class="fa fa-angle-down white" aria-hidden="true" id="aline"></i></h4>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>
      </div>

      <div class="section">
        <div class="dropdown">
        <h4 class="white">Subscriptions <i class="fa fa-angle-down white" aria-hidden="true" id="aline"></i></h4>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>
      </div>

      <div class="section">
        <div class="dropdown">
        <h4 class="white">Categories <i class="fa fa-angle-down white" aria-hidden="true" id="aline"></i></h4>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>
      </div>

      <div class="section">
        <div class="dropdown">
        <h4 class="white">Sort by <i class="fa fa-angle-down white" aria-hidden="true" id="aline"></i></h4>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>
      </div>

    </div>
    <div class="recipies-containers">
      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>

      <div class="recipie-container">
        <div class="recipie-img cursor-pointer"></div>
        <div class="recipie-info">
          <div class="head">
            <a href="#"><div class="profile-img cursor-pointer" id="proimg"></div></a>
            <a href="#"><h5 class="blue cursor-pointer capitalize" id="left">MonsterKrod</h5></a>
          </div>
          <div class="body">
            <h1 class="reduce upercase">ME GUSTA LA PAN CON LECHE I MIEL</h1>
          </div>

          <div class="footer">
            <h6 class="capitalize"><i class="fa fa-clock-o" aria-hidden="true"></i> 43m</h6>
            <h6 class="cursor-pointer capitalize"><i class="fa fa-heart-o"></i> Love it</h6>
            <h6 class="capitalize"><i class="fa fa-cutlery" aria-hidden="true"> Meat Food</i></h6>
            <h6 class="capitalize"><i class="fa fa-eye" aria-hidden="true"></i> 4k</h6>
          </div>
        </div>
      </div>
  </div>
</div>
