<nav class="nav-frontal">
  <ul>
    <li id="icon"><i class="fa fa-bars" aria-hidden="true"></i></li>
    <li id="search">
      <form method="get">
        <input type="text" name="search" placeholder="Search..">
      </form>
    </li>
    <li class="options">
      <a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>

<nav class="nav-lateral">
  <ul>
    <div class="profile">
      <div class="profile-img"></div>
      <h5 class="white">Hilary Smith</h5>
      <h6 class="white">Premium Member</h6>
    </div>
    <div class="sections">
      <li><a href="#">Llist of Recipies Options</a></li>
    </div>

    <div class="sections">
      <li><a href="#">List of Recipies Categories here!</a></li>
    </div>
  </ul>
</nav>
