<nav class="nav-frontal">
  <ul>
    <li id="icon" (click)="triggerLateralNav()"><i class="fa fa-bars" aria-hidden="true"></i></li>
    <li id="search">
      <form method="get">
        <input type="text" name="search" placeholder="Search..">
      </form>
    </li>
    <li class="options">
      <a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>

<nav class="nav-lateral" *ngIf="showLateral" id="navLateral">
  <ul>
    <div class="profile">
      <div class="section">
        <div class="profile-img" [ngStyle]="{'background-image': 'url(' + user.getProfileImg() + ')'}"></div>
      </div>
      <div class="section" id="names">
        <h5 class="white">{{user.getUsername()}}</h5>
        <h6 class="white">Premium Member</h6>
      </div>
    </div>
    <div class="sections">
      <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Home</a></li>
      <li><i class="fa fa-user-circle" aria-hidden="true"></i><a href="#">My Chanal</a></li>
      <li><i class="fa fa-heart" aria-hidden="true"></i><a href="#">Favorites Recipes</a></li>
      <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="#">Subscription</a></li>
    </div>

    <div class="sections">
      <li><i class="fa fa-cutlery" aria-hidden="true"></i><a href="#">Recipies</a></li>
      <li><i class="fa fa-plus" aria-hidden="true"></i><a href="#">Find more chefs</a></li>
    </div>
  </ul>
</nav>
