<form method="post" (submit)="resetPassword($event)">
  <div class="register-form-container">
    <div class="form-header"></div>
    <div class="form-body">
      <div class="notificationContainer" #target [innerHtml]="html"></div>
      <h3 class="center reduce" style="padding-bottom:0px">Forgot your password ? </h3>
      <p class="center reduce"> Please enter an email to restor your password. <br/>We will send a verification key to the speficy email account to verify the changes.</p>
      <input type="email" name="email" placeholder="email *" [(ngModel)]="user.email" (keyup)="showAlertEmail = false">
      <div class="alert" *ngIf="showAlertEmail"><p>{{alertMessage}}</p></div>
      <input type="submit" name="submit" value="Restor Password">
  </div>
</div>

</form>
